            body{
                background-image: linear-gradient( 90deg ,#d640ad 10%, #3813C2 100%);
                margin: 0;
                padding: 0;
                font-family: cairo;
                margin-bottom: 100px;

            }
            hr {
                border: 2px solid #fff;
                border-radius: 5px;
                width: 90%;
            }
            form{
                padding: 20px;
            }
            input{
                border: 0;
            }
            .nav{
                height: 90px;
                background: #00000045;
                border-bottom: 6px solid #fff;
                text-align: -webkit-center;
            }
            .nav img {
                width: 240px;
    margin-top: 8px;
        cursor: pointer;

            }
            .navt{
                color: #fff;
                text-align: center;
            }
            .bodte{
                text-align: -webkit-center;

            }

            .con{
                text-align: -webkit-center;
            }
            .conn{
                display: inline-block;
                margin: 30px;
                cursor: pointer;

            }
            .imgg{
                width: 150px;
            }
          
            #show2{
                display:block;
            }
            .tex{
                color: fff;
                    margin: 60px 0 10px;
    font-size: 32px;
}
            }
                        .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 2s;
            animation-name: animatebottom;
            animation-duration: 2s
          }
          
          @-webkit-keyframes animatebottom {
            from { bottom:-200px; opacity:0 } 
            to { bottom:0px; opacity:1 }
          }
          
          @keyframes animatebottom { 
            from{ bottom:-200px; opacity:0 } 
            to{ bottom:0; opacity:1 }
          }
          .cen{
                text-align: -webkit-center;
          }
       .mar{
            margin: 10px;
            margin-top: 15px;
       }
       .offers{
            margin: 5px;
            padding: 7px;
    display: inline-block;
    border-radius: 20px;
    border: 5px solid #ffffff;
    background-color: #000000a6;

       }
       .offers a{
        display: block;
        font-family: cairo;
        font-weight: bold;
        margin: 5px;
        cursor: pointer;
        width: 90%;
        border-radius: 25px;
        border: 2px solid #d7385e;
        background-color: white;
        text-decoration: none;
        color: black;
}
       }
  .offers a:hover{
        background-color: #868686;
            color: #fff;

       }
      .offp{
          margin: 0;
    color: #FFF;
    font-weight: bold;
      }
      
      .footer{
  text-align: center;
  background: #000000c4;
      margin-top: 25px;
          position: fixed;
    width: 100%;
    bottom: 0;

      }
      .footer a {
        color: #fddb17;
    letter-spacing: 1px;
    text-decoration: none ;
    font-size: 15px;
    font-weight: bold;
      }
      .footer span {
    color: #999;
      }
                  .animate-bottom {
            position: relative;
            -webkit-animation-name: animatebottom;
            -webkit-animation-duration: 2s;
            animation-name: animatebottom;
            animation-duration: 2s
          }
          
          @-webkit-keyframes animatebottom {
            from { bottom:-200px; opacity:0 } 
            to { bottom:0px; opacity:1 }
          }
          
          @keyframes animatebottom { 
            from{ bottom:-200px; opacity:0 } 
            to{ bottom:0; opacity:1 }
          }
 
#show2{
    display:none;
}
#show3{
    display:none;
}
